<li class="nav-item">
  <%= link_to 'Sign In', new_user_session_path, class: "nav-link #{ display_active_class(new_user_session_path) }" %>
</li>
<li class="nav-item">
  <%= link_to 'Create Account', new_user_registration_path, class: "nav-link #{ display_active_class(new_user_registration_path) }" %>
</li>